* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('Dashboard/frmBookingBG.jpg') no-repeat center center/cover;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

label {
    display: block;
    margin-bottom: 4px;
}

.BookingfrmBox{
    background-color: #ffffff;
    max-width: 650px;
    margin: 40px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.BookingfrmBox h1 {
    grid-column: 1 / -1; 
    text-align: center;  
    margin-bottom: 20px; 
}


.input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #aaa;
}

.submitButton {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submitButton .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1a600;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.BookingfrmBox button:hover {
    background-color: #d99e00;
}


.question {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    grid-column: span 2;
}

.questionGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    grid-column: span 2;
    margin-bottom: 20px;
}

.optionGroup {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.customSelect {
    width: 250px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid black;
    color: #000;
    font-size: 14px;
}
